a{% if c.ElementControllers %}
    <ul>
        {% for res in c.ElementControllers %}
            <li>
                Looped!
            </li>
        {% endfor %}
    </ul>
{% endif %}
bb
asdwwwwww
